.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Adjust the padding as needed for space between left and right */
    background-color:  #7EAA92; ;
    min-height: 100vh;/* Fill the entire screen height */
    position: relative; /* Add this to make positioning relative for absolute elements */
    border-radius: 1rem;
    color: white;
    
  }

  .bannerInputBox{

    width: 80%;
    min-height: 20rem;
    background-color: rgb(5, 80, 73);
    margin-top: 1rem;
    border-radius: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center
    ;
    justify-content: center;
  }

  .inputbanner{
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
   color: black;
  }

  .bannerH{
    font-size: 1rem;
    font-family: "Sora";
  }

  .BmanagerContainer{
    width: 58%;
    /* background-color: #181d1b; */
    background-color:  #7EAA92; ;
    min-height: 15rem;
    margin-top: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bannerBox{
    width: 80%;
    /* background-color: rgb(57, 62, 64); */
    background-color:rgb(5, 80, 73);
    height: 11rem;
    margin-top: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
   
    margin-left: 4rem;
  }

  .videoONbox{
   width: 76%;
   
   
  }
  .nameOfBanner{
    width: 4%;
    height: 4rem;
    margin-top: 1.5rem;
    font-family: "Sora";
    font-size: 0.8rem;
    margin-left: 1rem;
  }

  .bannerDel{
    width: 30%;
    height: 4rem;
    margin-top: 4rem;
    font-family: "Sora";
    /* background-color: rgb(74, 51, 51); */
  }
  .bannerUse{
    width: 30%;
    height: 4rem;
    margin-top: 4rem;
    font-family: "Sora";
  }