/* Existing styles */


  
  .edit-profile-form label {
    margin-bottom: 8px;
    color: rgb(145, 142, 142);
    font-family: "Sora";
    font-size: 0.8rem;
  }
  
  .edit-profile-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 14px;
    border-style: solid;
    box-shadow: -2px 4px 0px 0 #352a2a;
    background-color: white;
    font-family: "Sora";
    font-size: 0.7rem;
  }
  
  .edit-profile-button {
    background-color: #149c64;
    color: #fff;
    box-shadow: 2px 2px 0 0 #ccc;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    margin-top:1rem ;
  }
  
  .edit-profile-button:hover {
    background-color: #0056b3;
  }
  
  .edit-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Adjust the padding as needed for space between left and right */
    background-color: rgb(57, 62, 64); 
    min-height: 100vh;/* Fill the entire screen height */
    position: relative; /* Add this to make positioning relative for absolute elements */
    border-radius: 1rem;
  }
  
  .edit-profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 20px auto; /* Add margin to the top and center the form */
  }
  
.current-profile-imag {
  max-width: 200px; /* Set a maximum width for the displayed image */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Add some spacing below the image */
  border: 1px solid #ccc; /* Add a border around the image */
  border-radius: 4px; /* Add rounded corners to the border */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.image-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px; /* Add some spacing below the image */
}

.current-profile-image {
  max-width: 200px; /* Set a maximum width for the displayed image */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Add margin to the right of the image */
  border: 1px solid #ccc; /* Add a border around the image */
  border-radius: 4px; /* Add rounded corners to the border */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

/* Adjust the alignment and spacing for the label and input */
.edit-profile-form .image-container label {
  flex: 1; /* Allow the label to take remaining space */
  margin-bottom: 0; /* Remove margin at the bottom */
}

.edit-profile-form input[type="file"] {
  flex: 1; /* Allow the input to take remaining space */
  margin-left: 20px; /* Add margin to the left of the input */
}