.editBlog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Adjust the padding as needed for space between left and right */
    background-color: rgb(57, 62, 64); 
    min-height: 100vh;/* Fill the entire screen height */
    position: relative; /* Add this to make positioning relative for absolute elements */
    border-radius: 1rem;
    color: white;
    
  }


  .headingeditBlog {
    width: 100%;
    height: 5rem;
    
    display: flex;
    align-items: center;
    font-family: "Sora";
 
   
  }

  .titleOfeditBlog{
    font-size: 1rem;
    margin-top: 3rem;
  }

 

  .current-editblog-image{
    width: 25rem;
  }