.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #7EAA92;
    position: relative;
 border-radius: 5px;
    
  }

/* 
  .landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image: url('https://i.pinimg.com/564x/77/f7/20/77f720c640b5beca37dbd9917f245120.jpg'); 
    background-size: cover; 
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 5px;
} */

 
  
  .topHome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #055049;
    border-radius: 1rem;
    height: 3rem;
  }
  
  .topHome h3 {
    color: white;
    margin: 0;
    font-size: 1rem; /* Adjust the font size */
    font-family: Teko;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    padding: 5px 10px;
  }
  
  .search-bar input[type="text"] {
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
    font-size: 0.7rem; /* Adjust the font size */
    font-family: Sora;
  }
  
  .search-bar button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem; /* Adjust the font size */
  }
  
  .allPostLanding{
    /* border-width: thin;
    border-color: #797878; */
    margin-top: 1rem;
    background-color: #7EAA92;
    width: 100%;
   
    border-radius: 0.8rem;
    /* border-style: ridge; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
  }
  .proLine{
    height: 1px;
    width: 100%;
    margin: 2rem 0;
    background: #6f766f;
  }

  .eachPost{
    /* border-width: thin;
    border-color: #797878; */
    margin-top: 1rem;
    background-color: #C8E4B2;
    width: 80%;
    height: 13rem;
    border-radius: 0.8rem;
    /* border-style: ridge; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  
  }


  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 2s ease-in-out;
  }
  



  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none; /* Hide the element after fading out */
    }
  }
  
  .fade-out {
    animation: fadeOut 1s ease-in-out;
  }
  








  .postImage{
    background-color: rgb(255, 255, 255);
    width: 20%;
    
    border-radius: 5px;
  }

  .postImageOndiv{
    background-color: rgb(255, 255, 255);
    width: 100%;
    
    height: 10rem;
    border-radius: 5px;
    background-size: cover;
  }

.postContentLanding{
   background-color: #055049;
    color: white;
    width: 60%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.8rem;
    position: relative;
    overflow: hidden;
    height: 10rem; /* Set a fixed height for the parent div */
  }
  .postContentLanding h3 {
    font-size: 1.6rem; /* Adjust the font size for h3 */
    margin-bottom: 0.2rem; /* Add a small margin below h3 */
    overflow: hidden;
    font-family: Phudu;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0.2rem;
  }
  .iconInPostContentLanding {
    background-color: #181a1b00;
    color: rgb(170, 170, 170);
    border: none;
    font-size: smaller;
    margin: 2px;
    padding: 5px 21px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  


  