.fullScreen{
    width: 100%;
    min-height: 50rem;
    background-color: #7EAA92;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
   
}

.bannerLanding{
    width: 100%;
    min-height: 20rem;
    background-color: rgb(143, 104, 0);
    border-radius:0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    
}

.bannerVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust the opacity as needed */
  z-index: 1; /* Make sure the overlay is above the video */
}

/* .slogan{
    font-family: "Barriecito";
    font-size: 4rem;
    color: rgb(232, 230, 227);
    letter-spacing: 0.5rem;
}



.lanTitle{
color: rgb(232, 230, 227);
font-family: "Sora";
font-size: 0.8rem;
} */



.textContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.slogan {
  font-family: "Barriecito";
  font-size: 4rem;
  color: rgb(255 255 255);
  letter-spacing: 0.5rem;
}

.lanTitle {
  color: rgb(232, 230, 227);
  font-family: "Sora";
  font-size: 0.8rem;
}

.textOverlay {
  padding: 2rem; /* Add padding for text */
}





.topHomeLanding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    padding: 10px;
    background-color: rgb(5, 80, 73);
    border-radius: 0.5rem ;
    height: 3rem;
    margin-top: 1rem;
  }







  
  .topHomeLanding h3 {
    color: white;
    margin: 0;
    font-size: 1rem; /* Adjust the font size */
    font-family: Teko;
  }
  
  .search-bar-l {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    padding: 5px 10px;
  }
  
  .search-bar-l input[type="text"] {
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
    font-size: 0.7rem; /* Adjust the font size */
    font-family: Sora;
  }
  
  .search-bar-l button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem; /* Adjust the font size */
  }
  

  .allPostLandingpage{
    /* border-width: thin;
    border-color: #797878; */
    margin-top: 1rem;
    background-color: #7EAA92;
    width: 90%;
   border: none;
    margin-bottom: 1rem;
    border-radius: 6px;
    /* border-style: ridge; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
  }

.footer{
  width: 100%;
  display: flex;
  align-items: center;
  height: 12rem;
  background-color: rgb(5, 80, 73);
  margin-top: 1rem;
  border-radius: 0.3rem;
  background-image: url('https://i.pinimg.com/736x/9f/35/be/9f35be0fbac4b8ad244eb006eec13cb8.jpg');
  
}

.footerContent{
  width: 50%;
  /* background-color: black; */
  margin-left: 21rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
}

.footerPara{
  font-size: 0.8rem;
  color: white;
  font-family: 'Sora';
  text-align: center;
}