.reportBox{
    width: 50%;
    margin-top: 3rem;
    height: 6rem;
    border-radius: 1rem;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.buttonReportBox{
    background-color: #149c64;
    color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 6px;
    /* box-shadow: 2px 2px 0 0 #ccc; */
    font-size: 12px;
    border: none;
    font-family: Sora;  
}

.buttonReportBoxView{
    background-color: #e15b51;
    color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 6px;
    /* box-shadow: 2px 2px 0 0 #ccc; */
    font-size: 12px;
    border: none;
    font-family: Sora;  
}