.viewBlog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Adjust the padding as needed for space between left and right */
    background-color: #7EAA92; 
    min-height: 100vh;/* Fill the entire screen height */
    position: relative; /* Add this to make positioning relative for absolute elements */
    border-radius: 1rem;
    color: white;
    
  }

  .titleView{
    /* background-color: greenyellow; */
    width: 82%;
    height: 5rem;
    font-family: 'Phudu';
    letter-spacing: 0.2rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

.titleView h2{
    font-size: 3rem;
}


  .blogDetails{
    background-color: rgb(5, 80, 73);
    width: 82%;
    height: 3rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    font-family: "Sora";
    font-size: 0.6rem;
    border-radius: 6px;
  }

  .actionDetails {
    
    width: 82%;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .iconWrapper {
    margin: 0 10px;
    font-size: 18px;
  }
  

  .proLine{
    height: 1px;
    width: 100%;
    background: #6f766f;
  }

  .imageView {
    width: 40%;
    height: 18rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Clip the image overflow */
    border-radius: 6px;
  }
  
  .viewImageOndiv {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Fit the image within the div */
  }
  

  .summaryDetails{
    width: 82%;
    min-height: 7rem;
    margin-top: 1.5rem;
    display: flex;
    font-family: 'Phudu';
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
 

  .contentView{
    width: 82%;
    min-height: 15rem;
    font-family: Chakra Petch;
   font-size: 0.8;
   margin-top: 0.8rem;
   letter-spacing: 0.1rem;
  }

  .commentBox{
    width: 53%;
    min-height: 25rem;
    max-height: 35rem;
    background-color: rgb(5, 80, 73);
    margin-bottom: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
  }
  .inputCover{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 8rem;
  }

  .commentArea{
    background-color: #e9e9e9;
    min-height: 3rem;
    width: 30%;
    min-width: 30%;
    margin-left: 3rem;
    border-radius: 1rem;
    margin-bottom: 1.4rem;
  }
  .commentContainer{
    margin-right: 0.7rem;
    margin-bottom: 2.7rem;
  }
  .commentH3{
    font-size: 0.9rem;
    font-family: 'Sora';
    margin-left: 1rem;
    color: #494848;
  }


.commentH4{
  font-size:0.7rem ;
  color: #807474;
  margin-left: 1rem;
  cursor: pointer;
  font-family: "Sora";
}
.commentH5{
  font-size:0.5rem ;
  color: #807474;
  margin-left: 1rem;
  font-family: "Sora";
}

.shareBlog{
  width: 50%;
  height: 8rem;
  background-color: #C8E4B2;
  margin-top: 1rem;
  border-radius: 1rem;
  font-family: 'Phudu';
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.shareButtons{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  color: rgb(5, 80, 73);
  font-size: 1.1rem;
}

  /* style={{fontSize:"0.7rem",color:"#807474",marginLeft:"1rem",cursor:"pointer"}} */