/* src/assets/fonts.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Squada+One&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto:wght@500&family=Saira:wght@900&display=swap');
 
  @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Preahvihear&family=Roboto:wght@500&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&family=Cedarville+Cursive&family=Chakra+Petch:wght@500&family=Cinzel:wght@500&family=Inconsolata:wght@500&family=Playfair+Display:wght@600&family=Preahvihear&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Saira:wght@900&family=Squada+One&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Chakra+Petch:wght@500&family=Preahvihear&family=Roboto:wght@500&family=Sora:wght@500&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Preahvihear&family=Roboto:wght@500&family=Teko:wght@600&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Chakra+Petch:wght@500&family=Cinzel:wght@500&family=Preahvihear&family=Roboto:wght@500&family=Sora:wght@500&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Chakra+Petch:wght@500&family=Cinzel:wght@500&family=Inconsolata:wght@500&family=Preahvihear&family=Roboto:wght@500&display=swap');



  @import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Phudu:wght@500&display=swap');



  @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&family=Cedarville+Cursive&family=Chakra+Petch:wght@500&family=Cinzel:wght@500&family=Inconsolata:wght@500&family=Preahvihear&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
/*  
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Londrina+Solid:wght@300;400&family=Roboto:wght@500&display=swap'); */

.navbar-brand-custom {
    font-family: 'Teko', sans-serif; /* Ensure the font name matches exactly */
    font-size: 2rem;
    color: white;
  }

  /* Custom class for the Navbar */
.custom-navbar {
    height: 80px; /* Adjust the height as per your requirement */
  }
  


  